<ion-card class="ion-no-margin ion-no-padding">
  <ion-card-header color="success">
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="4">
        <ion-card-title class="font ion-padding-top">Nome da área</ion-card-title>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="7">
        <ion-item lines="none" color="light">
          <ion-input class="font" [placeholder]="course.nome" [value]="course.nome"
            (change)="onChangeName($event.target.value)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="0" class="ion-text-center">
        <ion-button class="cancelBtn" *ngIf="newCourse" size="default" color="danger" (click)="sendCancel()">
          <ion-icon slot="icon-only" size="large" name="close"></ion-icon>
        </ion-button>
        <ion-button class="cancelBtn" *ngIf="!newCourse" size="default" color="danger" (click)="sendDelete(course.id)">
          <ion-icon slot="icon-only" size="large" name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <!-- Cursos -->

  <ion-card-content>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="9">
        <ion-card-title class="font ion-text-center ion-padding-top" color="medium-shade">
          Cursos
        </ion-card-title>
      </ion-col>
      <ion-col *ngIf="newCourse" size="12" size-sm="12" size-md="12" size-lg="12" size-xl="2">
        <ion-button class="font fase" color="success" (click)="newSubcourse()">
          <ion-icon slot="start" size="large" name="add-circle"></ion-icon>
          <ion-label slot="end">Criar Curso</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <hr>

    <!-- Novo curso -->
    <ion-list *ngIf="newCourse" class="subcourses">
      <ion-item *ngFor="let subcourse of editCourse.cursos;" class="ion-margin-top" lines="none" color="light">
        <ion-label>
          {{ subcourse.nome }}
        </ion-label>
        <ion-button class="cancelBtn" slot="end" color="secondary" (click)="editSubcourse(subcourse)">
          <ion-icon slot="icon-only" size="large" name="pencil"></ion-icon>
        </ion-button>
        <ion-button class="cancelBtn" slot="end" color="danger" (click)="deleteSubcourse(subcourse.id)">
          <ion-icon slot="icon-only" size="large" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <!-- Editando area -->
    <ion-list *ngIf="!newCourse" class="subcourses">

      <ion-item *ngFor="let subcourse of editCourse.cursos;" class="ion-margin-top" lines="none" color="light">
        <ion-label class="ion-text-center">
          {{ subcourse.nome }}
        </ion-label>
        <ion-button slot="end" class="cancelBtn" color="secondary" (click)="editSubcourse(subcourse)">
          <ion-icon slot="icon-only" size="large" name="pencil"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>

    <ion-button class="font" size="large" expand="block" fill="solid" color="success" (click)="sendSave()">
      <ion-icon slot="start" name="save"></ion-icon>
      <ion-label slot="end">Salvar</ion-label>
    </ion-button>
  </ion-card-content>
</ion-card>