ion-card-content {
  height: 64vh;
}

.text {
  font-family: 'Nunito', sans-serif;
  color: var(--ion-color-medium-shade);
  font-size: 2em;
}

.selectProcess {
  max-width: 20em;
  max-height: 30em;
}

hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
  display: block !important;
  font-size: 2em !important;
  opacity: 1 !important;
  visibility: visible !important;
}

ion-img {
  height: 45vh;
  width: 45vw;
}