ion-button {
  --padding-start: 4em;
  --padding-end: 4em;
  --padding-top: 4em;
  --padding-bottom: 4em;
}

ion-icon {
  font-size: 6em;
}

.ticket {
  border-radius: 2em;
  border: solid 5px #295ebb;
  padding-top: 2em;
  padding-bottom: 2em;
}

ion-icon {
  font-size: 5em;
}

.font {
  font-family: 'Nunito', sans-serif;
}

.container {
  margin: 3em;
  border-radius: 2em;
  height: 88vh;
  overflow: auto;
}

.title {
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
}

.nome {
  font-size: 2em;
}