ion-button {
  --padding-start: 4em;
  --padding-end: 4em;
  --padding-top: 4em;
  --padding-bottom: 4em;
}

ion-icon {
  font-size: 5em;
}

.list {
  max-height: 80vh;
  overflow: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.list::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.font {
  font-family: 'Nunito', sans-serif;
}

.curso {
  padding-top: 2em;
  padding-bottom: 2em;
}

.container {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
}