ion-button {
  --padding-start: 4em;
  --padding-end: 4em;
  --padding-top: 4em;
  --padding-bottom: 4em;
}

ion-icon {
  font-size: 6em;
}

.title {
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
}

.container {
  min-height: 90vh;
  max-height: 90vh;
  border-radius: 2em;
  overflow-y: scroll;
}

.font {
  font-family: 'Nunito', sans-serif;
}

ion-item.courseItem {
  --border-radius: 0.5em;
}

ion-content.background {
  --background: url(../../../assets/backgroundIF2.jpg);
}

div[slot="content"] {
  background: rgba(var(--ion-color-success-rgb), 0.25)
}

