<ion-content color="medium">
  <ion-card class="container">
    <ion-card-header>
      <p class="title ion-text-center">Selecione o seu Curso</p>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="12" size-md="12" size-lg="4" size-xl="4" *ngFor="let course of list">
            <ion-card class="curso font" button="true" color="primary" (click)="setCourse(course.id)">
              <ion-card-header>
                <ion-img src="../../../assets/courses/ADS.png"></ion-img>
              </ion-card-header>
              <ion-card-content>
                <ion-title>{{course.nome}}</ion-title>
                <ion-note color="light" class="font" style="font-size: large;">{{course.sigla}}</ion-note>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>