<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-card id="logoIF">
          <ion-img src="../../../assets/logoIF.png"></ion-img>
        </ion-card>

        <ion-button color="light" expand="block" size="large" (click)="goToNewTicket()">
          <ion-icon slot="start" name="create"></ion-icon>
          <ion-label>Novo Ticket</ion-label>
        </ion-button>
        <ion-button color="light" expand="block" size="large" (click)="goToProfile()">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-button>
      </ion-list>

    </ion-content>
  </ion-menu>

  <!-- content -->
  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar color="success" class="ion-text-center ion-padding">
        <ion-label class="title">Acompanhe seu Processo de Estágio</ion-label>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-justify-content-center" color="medium">
      <ion-grid>
        <ion-row>

          <ion-col size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
            <ion-card color="primary" class="font ion-text-center">
              <ion-card-header>
                <ion-card-title>Ticket Pendente</ion-card-title>
              </ion-card-header>
              <ion-card-content>

                <ion-card *ngIf="ticketP">
                  <ion-card-header>
                    <ion-item lines="none">
                      <ion-avatar slot="start">
                        <img src="{{ticketP.foto}}">
                      </ion-avatar>
                      <ion-label class="font">
                        <h3>{{ticketP.nome}}</h3>
                        <p>SP3046923</p>
                      </ion-label>
                      <ion-chip class="cardChip" slot="end" color="secondary">
                        <ion-label class="font badge ion-text-wrap">{{ticketP.tipo_estagios}}</ion-label>
                      </ion-chip>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-label class="font">
                        <ion-text color="success">E-mail:</ion-text> {{ticketP.email}}
                      </ion-label>
                      <ion-label class="font ion-text-end">
                        <ion-text color="success">Data Limite:</ion-text> {{ticketP.data_limite}}
                      </ion-label>
                    </ion-item>
                  </ion-card-header>

                  <ion-list>

                    <ion-item class="ion-text-start" lines="none">
                      <ion-label color="success" class="font ion-text-center ">Sua mensagem</ion-label>
                    </ion-item>

                    <ion-item class="ion-text-start ion-margin-start ion-margin-end" lines="none">
                      <ion-label class="font ion-text-wrap ion-text-justify">
                        {{ticketP.corpo_texto}}
                      </ion-label>
                    </ion-item>

                    <ion-button color="success" size="default" class="font ion-margin">
                      <ion-icon slot="start" name="eye-sharp"></ion-icon>
                      Ver Anexos
                    </ion-button>

                    <ion-item class="ion-text-center ion-margin-start" lines="none">
                      <ion-label >
                        <ion-note class="font">Data de Criação do Ticket: {{ticketP.data_criado}} </ion-note>
                      </ion-label>
                    </ion-item>

                  </ion-list>
                </ion-card>

                <div *ngIf="!ticketP">
                  <ion-label>Você não possui ticket pendente...</ion-label>
                  <br>
                  <br>
                  <ion-button color="success" shape="round" (click)="goToNewTicket()">
                    <ion-icon slot="start" name="create"></ion-icon>
                    <ion-label>Novo Ticket</ion-label>
                  </ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card color="primary" class="font ion-text-center">
              <ion-card-header>
                <ion-card-title>Tickets Encerrados</ion-card-title>
              </ion-card-header>

              <ion-list style="background-color: var(--ion-color-primary);" class="list" *ngIf="ticketsE.length > 0">

                <ion-card color="light" *ngFor="let ticket of ticketsE">
                  <ion-card-header>

                    <ion-item color="light" lines="none">
                      <ion-avatar slot="start" class="cardAvatar">
                        <img src="{{ticket.foto}}">
                      </ion-avatar>
                      <ion-label class="font">
                        <h3>{{ticket.nome}}</h3>
                        <p>SP3046923</p>
                      </ion-label>
                      <ion-chip class="cardChip" slot="end" color="secondary">
                        <ion-label class="font badge ion-text-wrap">{{ticket.tipo_estagios}}</ion-label>
                      </ion-chip>
                    </ion-item>

                    <ion-item lines="none" color="light">
                      <ion-label class="font ion-text-start">
                        <h3>Data Resposta: {{ticket.data_fechado}}</h3>
                        <h3>Data de Envio: {{ticket.data_criado}}</h3>
                      </ion-label>
                      <ion-icon *ngIf="ticket.eAceito" size="large" color="success" name="checkmark-circle"></ion-icon>
                      <ion-icon *ngIf="!ticket.eAceito" size="large" color="danger" name="close-circle"></ion-icon>
                      <ion-button (click)="presentModal(ticket)" class="font" size="default" slot="end" color="success">
                        <ion-icon slot="start" name="eye-sharp"></ion-icon>
                        Detalhes
                      </ion-button>

                    </ion-item>

                  </ion-card-header>

                </ion-card>

              </ion-list>

              <div *ngIf="ticketsE.length == 0">
                <p>
                  <ion-label>Não há tickets pendentes...</ion-label>
                </p>
              </div>
            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-router-outlet>
</ion-split-pane>