<ion-content>

  <ion-card-header>
    <ion-item lines="none">

      <ion-label color="primary" class="font" style="font-size: 1.8em;">Data Limite: {{ticket.data_limite}}</ion-label>

      <ion-button color="danger" shape="round" slot="end" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card-header>

  <ion-card-header>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="{{ticket.foto}}">
      </ion-avatar>
      <ion-label class="font">{{ticket.nome}}</ion-label>
      <ion-badge color="warning" slot="end" class="font badge">Início Estágio</ion-badge>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="font"><ion-text color="primary">E-mail:</ion-text> {{ticket.email}}</ion-label>
    </ion-item>
  </ion-card-header>

  <ion-list>
    <ion-item class="ion-text-start ion-margin-start" lines="none">
      <ion-label class="font"><ion-text color="primary">Data de Criação do Ticket:</ion-text> {{ticket.data_criado}}</ion-label>
      <ion-button size="default" class="font ion-margin-end">
        <ion-icon slot="start" name="eye-sharp"></ion-icon>
        Ver Anexos
      </ion-button>
    </ion-item>

    <ion-item class="ion-text-start ion-margin-start" lines="none">
      <ion-label color="primary" class="font">Mensagem do Aluno:</ion-label>
    </ion-item>

    <ion-item class="ion-text-start ion-margin-start ion-margin-end" lines="none">
      <ion-label class="font ion-text-wrap ion-text-justify">
       {{ticket.corpo_texto}}
      </ion-label>
    </ion-item>

    <ion-item class="font ion-text-start ion-margin-start  ion-margin-end" lines="none">
      <ion-label position="floating" class="font" color="primary">Envie um feedback para o Aluno</ion-label>
      <ion-textarea [(ngModel)]="textArea" class="font ion-text-wrap ion-text-justify" rows="4" cols="20"
        placeholder='Olá, tudo bem? No documento X você precisa...'></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col size="6">
      <ion-button color="success" expand="block" (click)="accept()">
        <ion-label class="font">Aceitar</ion-label>
        <ion-icon slot="start" name="thumbs-up-sharp"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="danger" expand="block" (click)="refuse()">
        Recusar
        <ion-icon slot="start" name="thumbs-down-sharp"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>