ion-card {
  border-radius: 1em;
  height: 95vh;
  overflow-y: auto;
}

ion-item ion-title {
  font-size: 1.5em;
}

ion-item ion-label {
  font-size: 1.2em;
}

.font {
  font-family: 'Nunito', sans-serif;
}

ion-spinner {
  width: 8em;
  height: 8em;
}