<ion-card>
  <ion-card-header>
    <ion-card-title class="font ion-padding ion-margin">
      Perfil
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <div class="flex-center">
        <ion-avatar slot="start" style="height: 20em; width: 20em;">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </div>

      <ion-item class="ion-margin-top ion-padding-top" lines="full">
        <ion-title slot="start" class="font">Nome</ion-title>
        <ion-title slot="end" class="font" style="color: var(--ion-color-medium-shade);">Andre Correia Zarzur</ion-title>
      </ion-item>
      <ion-item class="ion-margin-top ion-padding-top" lines="full">
        <ion-title slot="start" class="font">Prontuário</ion-title>
        <ion-title slot="end" class="font" style="color: var(--ion-color-medium-shade);">SP305201X</ion-title>
      </ion-item>
      <ion-item class="ion-margin-top ion-padding-top" lines="full">
        <ion-title slot="start" class="font">E-mail</ion-title>
        <ion-title slot="end" class="font" style="color: var(--ion-color-medium-shade);">andre.zarzur@aluno.ifsp.edu.br</ion-title>
      </ion-item>
      <ion-item class="ion-margin-top ion-padding-top" lines="full">
        <ion-title slot="start" class="font">Curso</ion-title>
        <ion-title slot="end" class="font" style="color: var(--ion-color-medium-shade);">Análise e Desenvolvimento de Sistemas</ion-title>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>