<ion-card-header color="success">
  <ion-item class="font ion-no-padding ion-no-margin" lines="none" color="success">
    <div *ngIf="ticket.etapa.etapa.loop">
      <ion-badge slot="start" class="font ion-margin-start" style="font-size: 0.3em;">
        <ion-icon name="calendar" size="large"></ion-icon>
      </ion-badge>
      <ion-badge slot="start" class="font ion-margin-start" style="font-size: 1.2em;">DIAS TRABALHADOS</ion-badge>
      <ion-badge slot="start" class="font ion-margin-start" style="font-size: 1.2em;">{{ticket.diastrabalhados}} DIAS</ion-badge>
    </div>
    <ion-title *ngIf="!ticket.etapa.etapa.loop" slot="start" class="font ion-margin-start" style="font-size: 1.8em;">{{ticket.etapa.etapa.nome ? ticket.etapa.etapa.nome : 'sem nome'}}
    </ion-title >
    <ion-badge slot="end" class="font" style="font-size: 1.2em;">{{ticket.etapa.nome}}
    </ion-badge>
    <ion-button slot="end" size="default" color="danger" (click)="dismiss()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-item>
</ion-card-header>

<ion-card-content class="contentHeight" style="background-color: var(--ion-color-light)">
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-item color="transparent" lines="none">
          <ion-avatar slot="start">
            <img [src]="ticket.envolvidos.aluno[0].foto" onError="this.src = '../../../assets/avatarIcon.png'">
          </ion-avatar>
          <ion-label class="username" style="font-size: 1.5em; font-family: 'Nunito', sans-serif;">
            {{ticket.envolvidos.aluno[0].nome}}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-title class="font label ion-text-start">
          Documentos:
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">
        <ion-card class="contentCardHeight ion-no-padding ion-no-margin ion-margin-start ion-margin-end"
          style="background-color: white;">
          <div class="font ion-text-justify ion-padding ion-margin" style="font-size: 1.5em;">
            {{ticket.mensagem}}</div>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-list class="contentCardHeight ion-no-margin ion-no-padding">
          <ion-item *ngFor="let document of ticket.documentos" lines="none" color="success" button="true" shape="round"
            (click)="showPdf(document ? document.arquivo : null)" class="ion-margin-bottom">
            <ion-icon slot="start" name="document"></ion-icon>
            <ion-label class="documentName">{{document ? document.nome : 'Documento Falso (test)'}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <!-- <ion-title class="font label ion-text-start">
        Feedback:
      </ion-title> -->
      <ion-col>
        <ion-item color="transparent" lines="none">
          <ion-avatar slot="start">
            <img
              [src]=" ticket.envolvidos.orientado ? ticket.envolvidos.orientador[0].foto : '../../../assets/avatarIcon.png'">
          </ion-avatar>
          <ion-label class="username" style="font-size: 1.5em; font-family: 'Nunito', sans-serif;">
            {{ticket.envolvidos.orientador ? ticket.envolvidos.orientador[0].nome : 'Orientador'}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item id="textArea" lines="none" counter="true" [counterFormatter]="customCounterFormatter"
          class="ion-margin-start">
          <ion-textarea color="success" [(ngModel)]="textArea" class="font ion-text-justify" rows="5" cols="20"
            placeholder="Olá, tudo bem? No documento X você precisa..." maxlength="800"
            style="color: var(--ion-color-medium-shade); font-size: 1.5em;">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin ion-padding">
      <ion-col size="6">
        <ion-button expand="block" size="large" color="success" (click)="confirm(true)">
          <ion-icon slot="start" name="thumbs-up-sharp"></ion-icon>
          <ion-label slot="end" class="font">Aceitar</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" size="large" color="danger" (click)="confirm(false)">
          <ion-icon slot="start" name="thumbs-down-sharp"></ion-icon>
          <ion-label slot="end" class="font">Recusar</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-note class="font" style="color: var(--ion-color-medium-shade)">Data de criação: {{ticket.datacriado}}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-card-content>