
.title {
  font-size: 1.8em;
}

.cardChip:hover {
  padding-top: 2em;
  padding-bottom: 2em;
  cursor: default;
}

.font {
  font-family: 'Nunito', sans-serif;
}

.nohover:hover {
  cursor: default;
}