ion-card {
  border-radius: 1em;
  height: 45vh;
  width: auto;
  overflow-y: auto;
}

.font {
  font-family: 'Nunito', sans-serif;
}

ion-spinner {
  width: 4em;
  height: 4em;
}

ion-img {
  height: 35vh;
  width: 35vw;
}