hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
  display: block !important;
  font-size: 2em !important;
  opacity: 1 !important;
  visibility: visible !important;
}

ion-input {
  font-size: 1.5em;
}

ion-button.cancelBtn {
  height: 3em;
}

// Prazos

ion-range::part(tick) {
  background: var(--ion-color-success);
}

ion-range::part(tick-active) {
  background: var(--ion-color-success);
}

ion-range::part(pin) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: var(--ion-color-success);
  color: #fff;

  border-radius: 50%;
  transform: scale(1.01);

  top: -20px;

  min-width: 28px;
  height: 28px;
  transition: transform 120ms ease, background 120ms ease;
}

ion-range::part(pin)::before {
  content: none;
}

ion-range::part(knob) {
  background: var(--ion-color-success);
}

ion-range::part(bar) {
  background: var(--ion-color-dark);
}

ion-range::part(bar-active) {
  background: var(--ion-color-success);
}

// Documentos

ion-item ion-label {
  font-family: 'Nunito', sans-serif;
  color: var(--ion-color-success);
  font-size: 1.5em;
}

ion-select {
  --placeholder-color: var(--ion-color-success);
  --placeholder-opacity: 1;
  width: 100%;
  justify-content: center;
}

ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
}

ion-select::part(placeholder)::first-letter {
  font-size: 24px;
  font-weight: 500;
}

ion-select::part(text) {
  color: var(--ion-color-success);
  font-size: 1.6em;
}

ion-select::part(icon) {
  color: var(--ion-color-success);
  opacity: 1;
}