<ion-split-pane when="(min-width: 1600px)" contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-card id="logoIF">
          <ion-img src="../../../assets/logoIF.png"></ion-img>
        </ion-card>

        <ion-button color="light" expand="block" size="large" (click)="goToChartSupervisors()">
          <ion-icon slot="start" name="bar-chart"></ion-icon>
          <ion-label>Orientadores</ion-label>
        </ion-button>
        <ion-button color="light" expand="block" size="large" (click)="goToProfile()">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-button>
      </ion-list>

    </ion-content>
  </ion-menu>

  <!-- content -->
  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar color="success" class="ion-text-center ion-padding">
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-label class="title">Gerenciamento de Tickets</ion-label>
      </ion-toolbar>
    </ion-header>

    <ion-content color="medium" class="ion-justify-content-center">
      <ion-grid>
        <ion-row>

          <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="4">
            <ion-card class="font ion-text-center" color="primary">
              <ion-card-header>
                <ion-card-title>Alunos sem Orientador</ion-card-title>
              </ion-card-header>

              <ion-list style="background-color: var(--ion-color-primary);" class="list"
                *ngIf="ticketsWithoutSupervisor.length > 0">

                <ion-card color="light" *ngFor="let ticket of ticketsWithoutSupervisor">
                  <ion-card-header>

                    <ion-item color="light" lines="none">
                      <ion-avatar slot="start" class="cardAvatar">
                        <img src="{{ticket.foto}}">
                      </ion-avatar>
                      <ion-label class="font">
                        <h3>{{ticket.nome}}</h3>
                        <p>{{ticket.prontuario}}</p>
                      </ion-label>
                      <ion-chip class="cardChip" slot="end" color="secondary">
                        <ion-label class="font badge ion-text-wrap">{{ticket.tipo_estagios}}</ion-label>
                      </ion-chip>
                    </ion-item>

                    <ion-item lines="none" color="light">
                      <ion-label class="font ion-text-start">
                        <h3>Data limite: {{ticket.data_limite}}</h3>
                        <h3>Data de Envio: {{ticket.data_criado}}</h3>
                      </ion-label>
                      <ion-button (click)="presentModal(ticket)" class="font" size="default" slot="end" color="success">
                        <ion-icon slot="start" name="eye-sharp"></ion-icon>
                        Ver Detalhes
                      </ion-button>
                    </ion-item>

                  </ion-card-header>

                </ion-card>

              </ion-list>

              <div *ngIf="ticketsWithoutSupervisor.length == 0">
                <p>
                  <ion-label>Não há tickets pendentes...</ion-label>
                </p>
              </div>

            </ion-card>
          </ion-col>

          <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="4">
            <ion-card color="primary" class="font ion-text-center">
              <ion-card-header>
                <ion-card-title>Alunos sob sua Orientação</ion-card-title>
              </ion-card-header>

              <ion-list style="background-color: var(--ion-color-primary);" class="list"
                *ngIf="ticketsWithSupervisor.length > 0">

                <ion-card color="light" *ngFor="let ticket of ticketsWithSupervisor">
                  <ion-card-header>

                    <ion-item color="light" lines="none">
                      <ion-avatar slot="start" class="cardAvatar">
                        <img src="{{ticket.foto}}">
                      </ion-avatar>
                      <ion-label class="font">
                        <h3>{{ticket.nome}}</h3>
                        <p>{{ticket.prontuario}}</p>
                      </ion-label>
                      <ion-chip class="cardChip" slot="end" color="secondary">
                        <ion-label class="font badge ion-text-wrap">{{ticket.tipo_estagios}}</ion-label>
                      </ion-chip>
                    </ion-item>

                    <ion-item lines="none" color="light">
                      <ion-label class="font ion-text-start">
                        <h3>Data limite: {{ticket.data_limite}}</h3>
                        <h3>Data de Envio: {{ticket.data_criado}}</h3>
                      </ion-label>
                      <ion-button (click)="presentModal(ticket)" class="font" size="default" slot="end" color="success">
                        <ion-icon slot="start" name="eye-sharp"></ion-icon>
                        Detalhes
                      </ion-button>
                    </ion-item>

                  </ion-card-header>

                </ion-card>

              </ion-list>

              <div *ngIf="ticketsWithSupervisor.length == 0">
                <p>
                  <ion-label>Não há tickets pendentes...</ion-label>
                </p>
              </div>

            </ion-card>
          </ion-col>

          <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="4">
            <ion-card color="primary" class="font ion-text-center">
              <ion-card-header>
                <ion-card-title>Tickets Respondidos</ion-card-title>
              </ion-card-header>

              <ion-list style="background-color: var(--ion-color-primary);" class="list"
                *ngIf="closedTicketsWithSupervisor.length > 0">

                <ion-card color="light" *ngFor="let ticket of closedTicketsWithSupervisor">
                  <ion-card-header>

                    <ion-item color="light" lines="none">
                      <ion-avatar slot="start" class="cardAvatar">
                        <img src="{{ticket.foto}}">
                      </ion-avatar>
                      <ion-label class="font">
                        <h3>{{ticket.nome}}</h3>
                        <p>{{ticket.prontuario}}</p>
                      </ion-label>
                      <ion-chip class="cardChip" slot="end" color="secondary">
                        <ion-label class="font badge ion-text-wrap">{{ticket.tipo_estagios}}</ion-label>
                      </ion-chip>
                    </ion-item>

                    <ion-item lines="none" color="light">
                      <ion-label class="font ion-text-start">
                        <h3>Data Resposta: {{ticket.data_fechado}}</h3>
                        <h3>Data de Envio: {{ticket.data_criado}}</h3>
                      </ion-label>
                      <ion-button (click)="presentModal(ticket)" class="font" size="default" slot="end" color="success">
                        <ion-icon slot="start" name="eye-sharp"></ion-icon>
                        Detalhes
                      </ion-button>
                      <ion-icon *ngIf="ticket.eAceito" size="large" color="success" name="checkmark-circle"></ion-icon>
                      <ion-icon *ngIf="!ticket.eAceito" size="large" color="danger" name="close-circle"></ion-icon>
                    </ion-item>

                  </ion-card-header>

                </ion-card>

              </ion-list>

              <div *ngIf="closedTicketsWithSupervisor.length == 0">
                <p>
                  <ion-label>Não há tickets respondidos...</ion-label>
                </p>
              </div>

            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-router-outlet>
</ion-split-pane>