<ion-split-pane when="(min-width: 1600px)" contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <app-sidebar></app-sidebar>
    </ion-content>
  </ion-menu>

  <!-- content -->
  <ion-router-outlet id="main-content">

    <ion-content class="ion-justify-content-center" padding class="background">

      <ion-header>
        <ion-toolbar color="translucent" class="ion-text-center ion-padding">
          <ion-menu-button slot="start"></ion-menu-button>
          <ion-title class="title" style="color: var(--ion-color-medium-shade);">Gestão de Tickets</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-grid>
        <ion-row>

          <!-- Alunos sem orientador -->

          <ion-col offset="0.5" size="11" size-sm="11" size-md="11" size-lg="11" size-xl="4">
            <app-tickets-without-supervisor></app-tickets-without-supervisor>
          </ion-col>

          <!-- Tickets Pendentes -->
          <ion-col offset="0.5" size="11" size-sm="11" size-md="11" size-lg="11" size-xl="6.5">
            <app-tickets-with-supervisor></app-tickets-with-supervisor>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-content>

  </ion-router-outlet>
</ion-split-pane>