<ion-card-header color="success">
  <ion-item class="font ion-no-padding ion-no-margin" lines="none" color="success">
    <ion-card-title slot="start" style="color: white; font-size: 2em;" class="ion-margin-start">Ticket Encerrado
    </ion-card-title>
    <ion-badge *ngIf="ticket.aceito" slot="end" class="font" style="font-size: 1.2em;">Aceito
    </ion-badge>
    <ion-badge *ngIf="!ticket.aceito" slot="end" class="font" style="font-size: 1.2em;">Recusado
    </ion-badge>
    <ion-button slot="end" size="default" color="danger" (click)="dismiss()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-item>
</ion-card-header>

<ion-card-content class="contentHeight" style="background-color: var(--ion-color-light)">
  <ion-card-title class="ion-padding ion-no-margin ion-text-center" style="height: 9vh;">
    <ion-title class="font label flex-center">
      {{ticket.etapa.etapa.nome}}
    </ion-title>
  </ion-card-title>
  <hr>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <!-- <ion-title class="font label ion-text-start">
          Mensagem:
        </ion-title> -->
        <ion-item color="transparent" lines="none">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
          </ion-avatar>
          <ion-label class="username" style="font-size: 1.5em; font-family: 'Nunito', sans-serif;">Item Avatar
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-title class="font label ion-text-start">
          Documentos:
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">
        <ion-card class="contentCardHeight ion-no-padding ion-no-margin ion-margin-start ion-margin-end"
          style="background-color: white;">
          <div class="font ion-text-justify ion-padding ion-margin" style="font-size: 1.5em;">
            {{ticket.mensagem}}</div>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-list class="contentCardHeight ion-no-margin ion-no-padding">
          <ion-item *ngFor="let document of ticket.documentos" lines="none" color="success" button="true" shape="round"
            (click)="showPdf(document ? document.arquivo : null)" class="ion-margin-bottom">
            <ion-icon slot="start" name="document"></ion-icon>
            <ion-label class="documentName">{{document ? document.nome : 'Documento'}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <!-- <ion-title class="font label ion-text-start">
        Feedback:
      </ion-title> -->
      <ion-col>
        <ion-item color="transparent" lines="none">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
          </ion-avatar>
          <ion-label class="username">Item Avatar</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="contentCardHeight ion-no-padding ion-no-margin ion-margin-start ion-margin-end"
          style="background-color: white;">
          <div class="font ion-text-justify ion-padding ion-margin" style="font-size: 1.5em;">
            {{ticket.resposta}}</div>
        </ion-card>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col></ion-col>
      <ion-col class="ion-text-center ">
        <ion-note class="font" style="color: var(--ion-color-medium-shade)">Data de criação: {{ticket.datacriado}}
        </ion-note>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-note class="font" style="color: var(--ion-color-medium-shade)">Data de resposta: {{ticket.datafechado}}
        </ion-note>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>
</ion-card-content>