<ion-card *ngIf="data">
  <ion-card-header>
    <ion-card-title class="font ion-margin-start ion-margin-top ion-padding-start" style="font-size: 2em;">
      Histórico de Tickets Respondidos
    </ion-card-title>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-ticket-bar-chart></app-ticket-bar-chart>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card *ngIf="data === undefined">
  <div class="flex-center">
    <ion-spinner name="crescent" color="success"></ion-spinner>
  </div>
</ion-card>

<ion-card *ngIf="data === null">
  <div class="flex-center ion-text-center">
    <ion-row class="flex-center">
      <ion-title class="font" style="color: var(--ion-color-medium-shade);">Você ainda não possui estágios</ion-title>
      <ion-img class="emptyTicketIcon" src="../../../assets/undrawImages/emptyInternshipImage.svg"></ion-img>
    </ion-row>
  </div>
</ion-card>
