<ion-split-pane when="(min-width: 1600px)" contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <app-sidebar></app-sidebar>
    </ion-content>
  </ion-menu>

  <!-- content -->
  <ion-router-outlet id="main-content">

    <ion-content class="ion-justify-content-center" padding class="background">

      <ion-header>
        <ion-toolbar color="translucent" class="ion-text-center ion-padding">
          <ion-menu-button slot="start"></ion-menu-button>
          <ion-title class="title" style="color: var(--ion-color-medium-shade);">Gráficos</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-segment [(ngModel)]="chart" class="font" value="default" color="success" >
        <ion-segment-button value="first">
          <ion-label>Alunos por Orientador</ion-label>
        </ion-segment-button>
        <ion-segment-button value="second">
          <ion-label>Segundo</ion-label>
        </ion-segment-button>
        <ion-segment-button value="third">
          <ion-label>Terceiro</ion-label>
        </ion-segment-button>
      </ion-segment>


      <ion-card *ngIf="loaded && chart === 'first'" class="ion-margin-start ion-margin-end" style="overflow-y: auto;">
        <app-chart [data]="checkOrientadoresAmount" class="flex-center"></app-chart>
      </ion-card>

      <ion-card *ngIf="loaded && chart === 'second'" class="ion-margin-start ion-margin-end" style="overflow-y: auto;">
        <app-pie-courses [data]="internshipsAmountByCourse" class="flex-center"></app-pie-courses>
      </ion-card>
    
      <ion-card *ngIf="!loaded" class="ion-margin-start ion-margin-end" style="overflow-y: auto; height: 80vh;">
        <div class="flex-center ion-text-center">
          <div class="flex-center">
            <ion-spinner name="crescent" color="success"></ion-spinner>
          </div>
        </div>
      </ion-card>
     

    </ion-content>

  </ion-router-outlet>
</ion-split-pane>