<ion-content>

  <div class="closeButton">
    <ion-button size="small" color="danger" shape="round" slot="end" (click)="dismiss()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </div>


  <img style=" height: 25vh; width: 100vw;"
    src="{{course.imagem}}" />
  <ion-card-header class="font ion-text-start ion-margin-start ion-margin-end">
    <ion-card-subtitle>{{course.sigla}}</ion-card-subtitle>
    <ion-card-title>{{course.nome}}</ion-card-title>
  </ion-card-header>

  <ion-item class="font ion-text-start ion-margin-start ion-margin-end" lines="none">
    <ion-card-subtitle class="font ion-text-wrap ion-text-justify">{{course.descricao}}</ion-card-subtitle>
  </ion-item>

  <br>
  <ion-item style="font-size: 2em;" class="font ion-text-start ion-margin-start ion-margin-end" lines="none">
    <ion-label class="font" color="success" position="stacked">Informe seu Prontuário</ion-label>
    <ion-input class="font" color="success" (change)="onChangeEvent($event)" placeholder="SP1234567"></ion-input>
  </ion-item>
  <br>
  <br>
  <ion-button class="font ion-text-start ion-padding-start ion-padding-end ion-margin-start ion-margin-end"
    color="success" expand="block" (click)="confirm()">
    Confirmar
    <ion-icon slot="start" name="thumbs-up-sharp"></ion-icon>
  </ion-button>
  <br>
</ion-content>