<ion-content color="success">
  <div class="flex-center">
    <ion-card color="medium" class="ion-text-center">
      <ion-card-header class="font">
        <ion-title color="dark" class="title">Fim de Estágio</ion-title>
      </ion-card-header>
      <ion-card-content>

        <ion-item color="dark" lines="none" button (click)="tre.click()" class="ion-text-center">
          <ion-label *ngIf="arqTRE" class="font">{{arqTRE.name}}</ion-label>
          <ion-label *ngIf="!arqTRE" class="font">Relatório de Atividades de Estágio</ion-label>

          <input class="ion-hide" #tre type="file" (change)="arqTre($event)"
            accept="application/pdf">
          <ion-icon lazy="true" slot="end" name="document"></ion-icon>
        </ion-item>

        <br>

        <ion-item color="medium" lines="none">
          <ion-label position="floating" class="font" color="dark">Escreva algo para o Orientador</ion-label>
          <ion-textarea color="dark" [(ngModel)]="textArea" class="font" rows="4" cols="20"
            placeholder="Olá Orientador! Estou enviando o meu relatório...">
          </ion-textarea>
        </ion-item>

        <ion-button class="font" shape="round" color="dark" expand="full" (click)="submit()">
          Enviar
          <ion-icon slot="end" name="send"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>