<ion-content color="primary">
  <div class="flex-center">
    <ion-card class="ion-text-center">
      <ion-card-header class="font">
        <ion-card-title class="title">Fim de Estágio</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-item color="primary" lines="none" button (click)="tre.click()" class="ion-text-center">
          <ion-label *ngIf="arqTRE" class="font" for='selecao-arquivo-tre'>{{arqTRE.name}}</ion-label>
          <ion-label *ngIf="!arqTRE" class="font" for='selecao-arquivo-tre'>Relatório de Atividades de Estágio</ion-label>

          <input id='selecao-arquivo-tce' class="ion-hide" #tre type="file" (change)="arqTre($event.target.files)"
            accept="application/pdf">
          <ion-icon lazy="true" slot="end" name="document"></ion-icon>
        </ion-item>

        <br>

        <ion-item lines="none">
          <ion-label position="floating" class="font" color="primary">Escreva algo para o Orientador</ion-label>
          <ion-textarea [(ngModel)]="textArea" class="font" rows="4" cols="20"
            placeholder="Olá Orientador! Estou enviando o meu relatório...">
          </ion-textarea>
        </ion-item>

        <ion-button class="font" shape="round" color="success" expand="full" (click)="submit()">
          Enviar
          <ion-icon slot="end" name="send"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>