.font {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
}

.title {
  font-size: 2.5em;
  margin: 0.5em;
}

ion-item {
  border-radius: 0.5em;
}

/* Esconde o input */
input[type='file'] {
  display: none
}

/* Aparência que terá o seletor de arquivo */
label {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}