<ion-card *ngIf="supervisor">
  <ion-card-header>
    <ion-card-title class="font ion-margin-start ion-margin-top ion-padding-start" style="font-size: 2em;">
      Professor Orientador
    </ion-card-title>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div class="flex-center">
          <ion-avatar slot="start" style="height: 12em; width: 12em;">
            <img [src]="supervisor.foto" onError="this.src = '../../../assets/avatarIcon.png'">
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col size="8">
        <ion-list>
          <ion-item class="ion-margin-start ion-margin-end" lines="full">
            <ion-title slot="start" class="font ion-no-margin ion-no-padding">Nome</ion-title>
            <ion-label class="font" style="color: var(--ion-color-medium-shade);">{{supervisor.nome}}</ion-label>
          </ion-item>
          <ion-item class="ion-margin-top ion-margin-start ion-margin-end" lines="full">
            <ion-title slot="start" class="font ion-no-margin ion-no-padding">Prontuário</ion-title>
            <ion-label class="font" style="color: var(--ion-color-medium-shade);">{{supervisor.prontuario}}</ion-label>
          </ion-item>
          <ion-item class="ion-margin-top ion-margin-start ion-margin-end" lines="full">
            <ion-title slot="start" class="font ion-no-margin ion-no-padding">E-mail</ion-title>
            <ion-label class="font" style="color: var(--ion-color-medium-shade);">{{supervisor.email}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card *ngIf="supervisor === undefined">
  <div class="flex-center">
    <ion-spinner name="crescent" color="success"></ion-spinner>
  </div>
</ion-card>

<ion-card *ngIf="supervisor === null">
  <div class="flex-center ion-text-center">
    <ion-row class="flex-center">
      <ion-title class="font" style="color: var(--ion-color-medium-shade);">Você ainda não possui orientador</ion-title>
      <ion-img class="emptyTicketIcon" src="../../../assets/undrawImages/emptySupervisorImage.svg"></ion-img>
    </ion-row>
  </div>
</ion-card>