ion-card {
  border-radius: 1em;
  height: 35vh;
  overflow-y: auto;
}

.font {
  font-family: 'Nunito', sans-serif;
}

ion-spinner {
  width: 4em;
  height: 4em;
}

ion-img {
  height: 25vh;
  width: 25vw;
}
