<ion-card class="contentHeight">
  <ion-card-header class="ion-text-center">
    <ion-toolbar color="translucent">
      <ion-menu-button color="success" slot="start"></ion-menu-button>
      <ion-popover trigger="hover-trigger" triggerAction="hover" >
        <ng-template >
          <ion-content class="ion-padding font">
            Processo = Estágio Padrão, Estágio no Exterior, Equiparação de Projeto etc.
            <br>
            <br>
            <br>
            Etapa = Início de Estágio, Acompanhamento, Finalização de Estágio.
          </ion-content>
        </ng-template>
      </ion-popover>
      <ion-card-title color="success" class="title ion-margin ion-padding">
        <ion-icon id="hover-trigger" name="information-circle" size="large" color="secondary" class="ion-margin-end ion-padding-end">
        </ion-icon>
        Selecione um Processo
      </ion-card-title>
    </ion-toolbar>
    <hr>
  </ion-card-header>

  <ion-card-content>
    <ion-row>

      <!-- Coluna da esquerda -->

      <ion-col offset="0.5" size="11" size-sm="11" size-md="11" size-lg="11" size-xl="4">
        <app-processes-list [processes]="processes"
          (selectProcess)="receiveProcess($event)">
        </app-processes-list>
        <ion-button class="font" [disabled]="processes === null || processes === undefined || selectedProcess === undefined" size="large" expand="block" fill="solid" color="success" (click)="confirm()">
          <ion-icon slot="start" name="thumbs-up-sharp"></ion-icon>
          <ion-label slot="end">Confirmar</ion-label>
        </ion-button>
      </ion-col>

      <!-- Coluna da direita -->

      <ion-col offset="0.5" size="11" size-sm="11" size-md="11" size-lg="11" size-xl="6.5">
        <app-process-details 
          *ngIf="selectedProcess" 
          [process]="selectedProcess" 
        ></app-process-details>
        <app-process-undefined *ngIf="!selectedProcess"></app-process-undefined>
      </ion-col>

    </ion-row>
  </ion-card-content>
</ion-card>
