hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
  display: block !important;
  font-size: 2em !important;
  opacity: 1 !important;
  visibility: visible !important;
}

ion-card {
  border-radius: 1.5em;
  width: 55vw;
}

ion-card-content {
  height: 85vh;
  overflow-y: auto;
}

ion-list.documents {
  height: 45vh;
  overflow-y: auto;
  background-color: var(--ion-color-light);
}

.font {
  font-family: 'Nunito', sans-serif;
  font-size: 2em;
}

#title {
  color: var(--ion-color-light);
  font-size: 1.5em;
}

#textArea {
  color: whitesmoke
}

ion-item {
  border-radius: 0.5em;
}

/* Esconde o input */
input[type='file'] {
  display: none
}

/* Aparência que terá o seletor de arquivo */
label {
  cursor: pointer;
  margin: auto;
  padding: auto;
}