ion-list.fases {
  height: 43vh;
  overflow-y: auto;
}

ion-input {
  font-size: 1.5em;
}

// Botões de adição

ion-button {
  height: 3.5em;
}

ion-icon.add {
  font-size: 48px;
  --ionicon-stroke-width: 80px;
}