<ion-split-pane when="(min-width: 1600px)" contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <app-sidebar></app-sidebar>
    </ion-content>
  </ion-menu>

  <!-- content -->
  <ion-router-outlet id="main-content">
    <ion-content class="ion-justify-content-center" padding class="background">

      <div *ngIf="internship">

        <!-- Formulário -->
        <div *ngIf="pendingTicket === null">
          <app-form [confirmedProcessFromBack]="internship">
          </app-form>
        </div>

        <div *ngIf="pendingTicket">
          <app-pending-ticket [pendingTicket]="pendingTicket"></app-pending-ticket>
        </div>

      </div>

      <div *ngIf="internship === null">
        <!-- Selecionar Processo -->
        <app-select-details-process *ngIf="!confirmedProcess" (confirmedProcess)="receiveConfirmedProcess($event)">
        </app-select-details-process>
        <!-- Formulário -->
        <app-form *ngIf="confirmedProcess" [confirmedProcess]="confirmedProcess">
        </app-form>
      </div>

    </ion-content>
  </ion-router-outlet>
</ion-split-pane>