<ion-split-pane when="(min-width: 1600px)" contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <app-sidebar></app-sidebar>
    </ion-content>
  </ion-menu>

  <!-- content -->
  <ion-router-outlet id="main-content">
    <ion-content class="ion-justify-content-center" padding class="background">


      <ion-header style="position: absolute;">
        <ion-toolbar color="translucent" class="ion-text-center ion-padding">
          <ion-menu-button slot="start"></ion-menu-button>
        </ion-toolbar>
      </ion-header>

      <div *ngIf="internship" class="flex-center">

        <!-- Formulário -->
        <div *ngIf="pendingTicket === null">
          <app-form [confirmedProcessFromBack]="internship">
          </app-form>
        </div>

        <div *ngIf="pendingTicket" class="ion-padding ion-margin">
          <ion-row>
            <ion-col size="4">
              <app-pending-ticket-warning></app-pending-ticket-warning>
            </ion-col>
            <ion-col size="8">
              <app-pending-ticket [pendingTicket]="pendingTicket"></app-pending-ticket>
            </ion-col>
          </ion-row>
        </div>

      </div>

      <div *ngIf="internship === null">
        <!-- Selecionar Processo -->
        <app-select-details-process *ngIf="!confirmedProcess" (confirmedProcess)="receiveConfirmedProcess($event)">
        </app-select-details-process>
        <!-- Formulário -->
        <app-form *ngIf="confirmedProcess" [confirmedProcess]="confirmedProcess">
        </app-form>
      </div>

    </ion-content>
  </ion-router-outlet>
</ion-split-pane>