<ion-content color="primary">
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col class="ion-margin-horizontal ion-padding-horizontal" size-xl="6" size-lg="6" size-md="12" size-sm="12"
        size-xs="12">
        <div class="container">
          <p class="title">
            <ion-label>Sistema de Gestão de Estágio <ion-text color="success">IFSP-SPO</ion-text>
            </ion-label>
          </p>
          <p class="subtitle">
            <ion-label>Nunca foi tão fácil gerenciar processos de estágio. </ion-label>
          </p>
          <ion-button size="large" class="button ion-margin-vertical" shape="round" color="success" (click)="signIn()">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            Entre com o E-mail Institucional
          </ion-button>
        </div>
      </ion-col>

      <ion-col class="ion-margin-horizontal ion-padding-horizontal">
        <ion-img src="../../../assets/backgroundImg.svg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>