<ion-card class="contentHeight">
  <ion-card-header class="ion-text-center">
    <ion-toolbar color="translucent">
      <ion-menu-button color="success" slot="start"></ion-menu-button>
      <ion-card-title color="success" class="title ion-margin ion-padding">
        Selecione seu Curso
      </ion-card-title>
    </ion-toolbar>
    <hr>
  </ion-card-header>

  <ion-card-content>
    <ion-row>

      <!-- Coluna da esquerda -->

      <ion-col offset="0.5" size="11" size-sm="11" size-md="11" size-lg="11" size-xl="4">
        <ion-card-title class="title ion-text-center ion-margin" style="color: var(--ion-color-medium-shade);">
          Áreas
        </ion-card-title>
        <app-courses-list [courses]="courses"
          (selectCourse)="receiveCourse($event)">
        </app-courses-list>
        <ion-button class="font" [disabled]="courses.length === 0 || selectedCourse === undefined" size="large" expand="block" fill="solid" color="success" (click)="confirm()">
          <ion-icon slot="start" name="thumbs-up-sharp"></ion-icon>
          <ion-label slot="end">Confirmar</ion-label>
        </ion-button>
      </ion-col>

      <!-- Coluna da direita -->

      <ion-col offset="0.5" size="11" size-sm="11" size-md="11" size-lg="11" size-xl="6.5">
        <app-course-details 
          *ngIf="selectedCourse" 
          [course]="selectedCourse" 
          [modalidades]="modalidades"
        ></app-course-details>
        <app-courses-undefined *ngIf="!selectedCourse"></app-courses-undefined>
      </ion-col>

    </ion-row>
  </ion-card-content>
</ion-card>
