hr {
  border-bottom: 1px solid white;
  margin: 10px 0;
  width: 100%;
  display: block !important;
  font-size: 2em !important;
  opacity: 1 !important;
  visibility: visible !important;
}

ion-list {
  padding: 0;
  height: 100%;
}

ion-list#inbox-list {
  background-color: rgba(var(--ion-color-success));
}

ion-list#inbox-list ion-card {
  padding: 1.5em;
}

ion-list#inbox-list ion-button {
  font-family: 'Nunito', sans-serif;
  font-size: medium;
  padding: 0.4em;
  border-radius: 4em;
}

ion-item {
  --background: var(--ion-color-success);
  --color: var(--ion-color-light);
  --border-color: var(--ion-color-light);
}

ion-item {
  --highlight-height: 2em;
}

@media screen and (max-width: 1600px) {
  ion-img {
    height: 30vh !important;
    width: auto !important;
    align-items: center;
  }
}

.font {
  font-family: 'Nunito', sans-serif;
  font-size: large;
}

.logoutbt {
  position: absolute;
  bottom: 0;
  left: 15%;
}

.contentList {
  height: 80vh;
  overflow-y: auto;
}