<ion-card color="tertiary" class="font ion-text-center">
  <ion-card-header color="success">
    <ion-card-title class="ion-text-start" style="color: #ededed; font-size: 2em;">Ticket Pendente
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="contentHeight">
    <ion-card-title class="ion-padding ion-margin">
      <ion-title class="font ion-text-center" style="font-size: 1em;">
        Finalização
      </ion-title>
    </ion-card-title>
    <hr>
    <br>
    <ion-note class="font">Data de Criação do Ticket:</ion-note>
  </ion-card-content>
</ion-card>