<ion-split-pane when="(min-width: 1600px)" contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <app-sidebar></app-sidebar>
    </ion-content>
  </ion-menu>

  <!-- content -->
  <ion-router-outlet id="main-content">
    <ion-content class="ion-justify-content-center" padding class="background">

      <ion-card class="contentHeight">
        <ion-card-header class="ion-text-center">
          <ion-toolbar color="translucent">
            <ion-menu-button color="success" slot="start"></ion-menu-button>
            <ion-card-title color="success" class="title ion-margin ion-padding">
              Gestão de Cursos
            </ion-card-title>
          </ion-toolbar>
          <hr>
        </ion-card-header>

        <ion-card-content>
          <ion-row>

            <!-- Coluna da esquerda -->

            <ion-col offset="0.5" size="11" size-sm="11" size-md="11" size-lg="11" size-xl="4">
              <app-courses-list [newCourse]="isNewCourse" [courses]="courses"
                (selectCourse)="receiveCourse($event)">
              </app-courses-list>
              <ion-button class="font" [disabled]="courses.length === 0" size="large" expand="block" fill="solid" color="success" (click)="newCourse()">
                <ion-icon slot="start" name="duplicate"></ion-icon>
                <ion-label slot="end">Criar Curso</ion-label>
              </ion-button>
            </ion-col>

            <!-- Coluna da direita -->

            <ion-col offset="0.5" size="11" size-sm="11" size-md="11" size-lg="11" size-xl="6.5">
              <app-courses-edit *ngIf="selectedCourse" 
                [newCourse]="isNewCourse" 
                [course]="selectedCourse" 
                (saveCourse)="receiveSaveEvent($event)"
                (cancelNewCourse)="receiveCancelEvent()" 
                (deleteCourse)="receiveDeleteEvent($event)"
              ></app-courses-edit>
              <app-courses-undefined *ngIf="!selectedCourse"></app-courses-undefined>
            </ion-col>

          </ion-row>
        </ion-card-content>
      </ion-card>

    </ion-content>
  </ion-router-outlet>
</ion-split-pane>
