<ion-content>
  <ion-card-header color="success">
    <ion-row>
      <ion-col size="3.5">
        <ion-card-title class="font ion-padding-top">Nome do curso</ion-card-title>
      </ion-col>
      <ion-col size="7">
        <ion-item lines="none" color="light">
          <ion-input class="font" placeholder="Novo curso" [ngModel]="editSubcourse.nome"
            (ionChange)="onChangeName($event.target.value)">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="0.5" class="ion-text-center">
        <ion-button class="cancelBtn" size="default" color="danger" (click)="dismiss()">
          <ion-icon slot="icon-only" size="large" name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="full" class="ion-text-center">
      <ion-label position="floating" color="success">Carga horária para cumprimento do estágio</ion-label>
      <ion-input [(ngModel)]="editSubcourse.carga" type="number" color="success" class="font"> </ion-input>
    </ion-item>

    <br>

    <ion-card-title color="success" class="font ion-text-center ion-padding-top" style="font-size: 2em;">
      <ion-label>
        Modalidade: {{editSubcourse.modalidade ? editSubcourse.modalidade.nome : 'Nenhuma'}}
      </ion-label>
      <br>
      <br>
      <ion-list>
        <ion-radio-group [ngModel]="editSubcourse.modalidade " (ionChange)="handleChangeModalidade($event)">
          <ion-item *ngFor="let modalidade of modalidades;">
            <ion-label>{{modalidade.nome}}</ion-label>
            <ion-radio slot="start" [value]="modalidade" color="success"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-title>

    <br>

    <ion-button class="font" size="large" expand="block" fill="solid" color="success" (click)="confirm()">
      Confirmar
    </ion-button>
  </ion-card-content>
</ion-content>