<ion-content>
  <ion-card-header color="success">
    <ion-row>
      <ion-col size="3.5">
        <ion-card-title class="font ion-padding-top">Nome do curso</ion-card-title>
      </ion-col>
      <ion-col size="7">
        <ion-item lines="none" color="light">
          <ion-input class="font" [placeholder]="subcourse.nome" (change)="onChangeName($event.target.value)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="0.5" class="ion-text-center">
        <ion-button class="cancelBtn" size="default" color="danger" (click)="dismiss()">
          <ion-icon slot="icon-only" size="large" name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    {{subcourse.carga}}
    {{subcourse.tipo}}
    <!-- <ion-card-title class="ion-padding-top">
      <ion-label color="success" class="font">
        Prazo de entrega dos documentos:
      </ion-label>
      <ion-label color="success" class="font ion-margin-start" style="font-size: 2em;">
        {{ editFase.prazo }} dias.
      </ion-label>
      <ion-range [value]="editFase.prazo" [pin]="true" [ticks]="true" [snaps]="true" [min]="0" [max]="60"
        (ionChange)="onDeadlineChange($event)"></ion-range>
    </ion-card-title>


    <ion-card-title color="success" class="font ion-text-start ion-padding-top">
      Documentos da etapa:
      <ion-list>
        <ion-item color="success" fill="outline">
          <ion-select class="font" [ngModel]="editFase.documentos" interface="alert"
            [interfaceOptions]="customAlertOptions" [compareWith]="compareWith" placeholder="Selecione os documentos"
            (ionChange)="handleChangeDocuments($event)" [multiple]="true">
            <ion-select-option *ngFor="let documento of documentos" [value]="documento">{{ documento.nome }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-title>
    <br>
    <ion-note class="ion-margin-start font"
      style="color: var(--ion-color-medium-shade); font-size: 1em;">* Marcar caso
      esta etapa se repita e conte no banco de horas do aluno.</ion-note>
    <br>
    <br>
    <ion-item lines="none">
      <ion-checkbox slot="start" checked="{{this.editFase.loop}}"
        (ionChange)="handleChangeCheckbox($event.detail.checked)"></ion-checkbox>
      <ion-label>Essa etapa irá se repetir</ion-label>
    </ion-item>
    <br>
    <ion-button class="font" size="large" expand="block" fill="solid" color="success" (click)="confirm()">
      Confirmar
    </ion-button> -->
  </ion-card-content>
</ion-content>