
ion-input {
  font-size: 1.5em;
}

ion-button.cancelBtn {
  height: 3em;
}

// Modalidades

ion-list {
  height: 22vh;
  overflow-y: auto;
}

ion-item ion-label {
  font-family: 'Nunito', sans-serif;
  color: var(--ion-color-success);
  font-size: 1.5em;
}

ion-select {
  --placeholder-color: var(--ion-color-success);
  --placeholder-opacity: 1;
  width: 100%;
  justify-content: center;
}

ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
}

ion-select::part(placeholder)::first-letter {
  font-size: 24px;
  font-weight: 500;
}

ion-select::part(text) {
  color: var(--ion-color-success);
  font-size: 1.6em;
}

ion-select::part(icon) {
  color: var(--ion-color-success);
  opacity: 1;
}