<ion-card class="ion-text-center">

  <ion-card-header color="success">
    <ion-card-title class="font label" style="font-size: 2.5em;">
     Você ainda possui um ticket pendente!
    </ion-card-title>
  </ion-card-header>
  
  <ion-card-content class="contentHeight" style="background-color: var(--ion-color-light)">
    <br>
    <ion-label class="font label">
      Você não poderá criar outro até que algum Professor Orientador responda o seu último ticket.
    </ion-label>
    
    <ion-img class="selectProcess flex-center" style="height: 35em;" src="../../../assets/undrawImages/pendingTicketImage.svg"></ion-img>
  </ion-card-content>

</ion-card>