<ion-content color="success">
  <div class="flex-center">
    <ion-card color="medium" class="ion-text-center">
      <ion-card-header class="font">
        <ion-title color="dark" class="title">Início de Estágio</ion-title>
      </ion-card-header>
      <ion-card-content>

        <ion-item color="dark" lines="none" button id="open-date-input">
          <label *ngIf="!dateString" class="font">Prazo limite dado pela empresa</label>
          <label *ngIf="dateString" class="font">Prazo limite: {{ dateString }}</label>

          <ion-popover trigger="open-date-input" show-backdrop="false">
            <ng-template>
              <ion-datetime #popoverDatetime color="primary" [min]="today" locale="pt-BR" presentation="date"
                (ionChange)="formatDate(popoverDatetime.value); popoverDatetime.confirm(true)"></ion-datetime>
            </ng-template>
          </ion-popover>
          <ion-icon slot="end" name="calendar"></ion-icon>
        </ion-item>
        <br>

        <ion-item color="dark" lines="none" button="true" (click)="tce.click()" class="ion-text-center">
          <label class="font">{{arqTCE ? arqTCE.name : "Termo de Compromisso de Estágio"}}</label>
          <input class="ion-hide" #tce type="file" (change)="arqTce($event)"
            accept=".pdf">
          <ion-icon lazy="true" slot="end" name="document"></ion-icon>
        </ion-item>

        <br>

        <ion-item color="dark" lines="none" button="true" (click)="pa.click()" class="ion-text-center">
          <label class="font" >{{arqPA ? arqPA.name : "Plano de Atividades"}}</label>
          <input class="ion-hide" #pa type="file" (change)="arqPa($event)"
            accept=".pdf">
          <ion-icon lazy="true" slot="end" name="document"></ion-icon>
        </ion-item>


        <ion-item color="medium" lines="none">
          <ion-label position="floating" class="font" color="dark">Escreva algo para o Orientador</ion-label>
          <ion-textarea color="dark" [(ngModel)]="textArea" class="font" rows="4" cols="20"
            placeholder="Olá Orientador! Eu gostaria de dar início ao meu processo de estágio...">
          </ion-textarea>
        </ion-item>

        <ion-button class="font" shape="round" color="dark" expand="full" (click)="submit()">
          Enviar
          <ion-icon slot="end" name="send"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>